*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/waxman-vst.*
bin-w32/waxman.clap
bin-w32/waxman.exe
bin-w32/waxman.lv2
bin-w32/waxman.vst3
bin-w64/waxman-vst.*
bin-w64/waxman.clap
bin-w64/waxman.exe
bin-w64/waxman.lv2
bin-w64/waxman.vst3
bin/waxman
bin/waxman-dssi.*
bin/waxman-ladspa.*
bin/waxman-vst.*
bin/waxman.clap
bin/waxman.lv2/
bin/waxman.vst3
build/
dist/
